
.div {
   display: flex;
   align-items: center;
   margin-bottom: 0.5rem;
}

.div span {
   color: #ffb900;
   font-size: 1rem;
   margin-right: 0.25rem;
}

.div p {
   margin-left: 0.5rem;
   margin-bottom: 0;
}


.div a {
   color: var(--gray-1);
   transition: 0.1s;
}

.div a:hover {
   color: rgb(143, 143, 143)
}