.dv {
    width: 70%;
    margin: 0 auto;
}

  .dv form {
    background: rgb(240, 240, 240);
    padding: 3rem 4rem;
    border-radius: 8px;
  }
  
  .dv h3 {
    margin-bottom: 2rem;
  }
  
  .dv input {
    margin-bottom: 0.75rem;
  }
  
  .wraper {
    margin-bottom: 1.5rem;
  }
  
  .input {
    padding: 0.8rem;
    width: 100%;
    transition: 0.2s;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 0.4rem;
  }
  
  .input:hover,
  .input:focus {
    outline: none;
    border-color: #fb1;
    background-color: #fff;
    box-shadow: 0 0 0 3px #fea;
  }
  
  .label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }