.div {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   width: 225px;
}

.cartBtn {
   color: var(--clr-grey-1);
   font-size: 1.5rem;
   letter-spacing: var(--spacing);
   color: var(--clr-grey-1);
   display: flex;
   align-items: center;
}

.cartContainer {
   display: flex;
   align-items: center;
   position: relative;
}

.cartContainer svg {
   height: 1.6rem;
   margin-left: 5px;
}

.cartValue {
   position: absolute;
   top: -10px;
   right: -16px;
   background: var(--clr-primary-5);
   width: 16px;
   height: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 0.75rem;
   color: var(--clr-white);
   padding: 12px;
}

.authBtn {
   display: flex;
   align-items: center;
   background: transparent;
   border-color: transparent;
   font-size: 1.5rem;
   cursor: pointer;
   color: var(--clr-grey-1);
   letter-spacing: var(--spacing);
}

.authBtn svg {
   margin-left: 5px;
}
